---
layout: default
title: Search
permalink: /search/
---

<h2>Search Results for "<span id="search-query"></span>"</h2>
<ul id="search-results">
  {% assign all_items = site.pages | concat: site.posts %}
  {% for item in all_items %}
  {% if item.search_index != false %}
  <li class="search-item" data-title="{{ item.title | downcase }}"
    data-content="{{ item.content | strip_html | strip_newlines | downcase }}">
    <a href="{{ item.url }}">{{ item.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<script>
  var params = new URLSearchParams(window.location.search);
  var query = params.get("q");

  if (query) {
    document.title = "Search Results for '" + query + "'";
    document.getElementById("search-query").innerText = query;

    var searchItems = document.querySelectorAll(".search-item");
    query = query.toLowerCase();

    searchItems.forEach(function (item) {
      var title = item.getAttribute("data-title");
      var content = item.getAttribute("data-content");

      if (title.includes(query) || content.includes(query)) {
        item.style.display = "list-item";
      } else {
        item.style.display = "none";
      }
    });
  } else {
    document.getElementById("search-results").innerHTML = "<li>No search query provided.</li>";
  }
</script>